*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: red;
}

#navbar{
    height: 80px;
    width: 100%;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar img{
    height: 80px;
    object-fit: cover;
}

#links a {
    text-decoration: none;
}